/****************************************************************
GENERAL
****************************************************************/
body {
  font-family: Helvetica;
  max-width: 100%;
}

.home-wrapper {
  -moz-box-flow:column;
  -moz-box-justify-content: space-around;
  -webkit-flex-flow: column;
  -webkit-justify-content: space-around;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-around;
  margin: auto;
}

.footer {
  position: absolute;
  color: #000;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #777;
}


/****************************************************************
LOGO
****************************************************************/

div img {
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  height: 220px;
}


/****************************************************************
TITLE
****************************************************************/

.title {
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  color: #585858;
  font-family: 'Dosis', sans-serif;
  font-size: 5.6vw;
  font-weight: 300;
  margin: auto;
  text-align: center;
}

.title:hover span {
  display: none;
}

.title:hover:before {
  color: tomato;
  content:"Austin G. Davis Richardson";
}


/****************************************************************
NAVIGATION
****************************************************************/

.home-wrapper nav {
  -webkit-order: 3;
  -ms-flex-order: 3;
  -moz-box-ordinal-group: 3;
  line-height: 1.75;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4.4vw;
}

.home-wrapper  nav ul {
  padding: 0;
  text-align: center;
}


.home-wrapper  ul li a {
  color: #909090;
  text-decoration: none;
}

.home-wrapper  ul li a:hover {
  color: tomato;
}


@media screen and (min-width: 540px) {

  .title {
    font-size: 5vw;
  }

  .home-wrapper  nav {
    -moz-box-justify-content: center;
    -webkit-justify-content: center;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
  }

  .home-wrapper nav ul {
    -moz-box-flex-direction: row;
    -moz-box-flex-flow: row wrap;
    -moz-box-justify-content: space-around;
    -webkit-flex-direction: row;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 350px;
  }

  .home-wrapper nav ul li {
    font-size: 3.2vw;
  }

  .dot {
    color: #B8B8B8;
  }
}

@media screen and (min-width: 830px) {

  .home-wrapper {
    margin-top: 60px;
  }
  
  .title {
    font-size: 4.5vw;
  }

  .home-wrapper nav {
    -moz-box-justify-content: center;
    -webkit-justify-content: center;
    display: -webkit-flex;
    justify-content: center;
  }

  .home-wrapper nav ul {
    -moz-box-flex-direction: row;
    -moz-box-flex-flow: row wrap;
    -moz-box-justify-content: space-around;
    -webkit-flex-direction: row;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
    display: -webkit-flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 450px;
  }

  .home-wrapper nav ul li {
    font-size: 2.2vw;
  }

}

/****************************************************************
FOOTER
****************************************************************/

footer {
  color: #B8B8B8;
  margin: 12px;
}

footer a {
  color: tomato;
}

@media screen and (min-width: 540px) {
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


@media screen and (max-width: 540px) {
  footer {
    text-align: center;
    bottom: 0;
  }
}
