@import url("/css/antiscreen.css") handheld;@import url("/css/antiscreen.css") only screen and (max-device-width:480px);
html {
  overflow-y: scroll;
}
.subtitle { color: #aaa; }
.gradient {
  background: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#fff));
  z-index: 0;
  height: 100px;
}
.container {
  width: 620px;
  margin: 0 auto;
  z-index: 1;
}
a {
  color: #bb8844;
}
p {
  text-align: justify;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
h1 {
  color: #445588;
  font-weight: 100;
  font-family: Georgia;
  font-weight: 100;
}
h2, h3 {
  color: #666;
  font-weight: 400;
}
code {
  font-family: Menlo, Courier New, Courier, Mono, monospace;
  font-size: 14px;
}
::-moz-selection {
  background: #D1DFD6;
  color: #000;
  text-shadow: none;
}
::selection {
  background: #D1DFD6;
  color: #000;
  text-shadow: none;
}
.about { 
  color: #999;
  font-family: Georgia;
}
.about a { 
  font-style: italic;
}
.posts {
  font-size: 1.173em;
  margin-top: 1em;
  color: #444;
}
.post img {
  border: 6px solid #fff;
  box-shadow: 0px 0px 3px #666;
  margin-left: 2em;
}
.about, .posts { font-size: 1.173em; }
.posts span {
  background: #444;
  width: auto;
  padding: 6px;
  margin-left: -2em;
  line-height: 2em;
  color: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  font-size: .9em;
  vertical-align: center;
  font-family: Georgia;
}
.posts li { list-style-type: none; }
.post_link a { color: #eee; text-decoration: none;}

.days_box {
  background:transparent;
  font-size: 3em;
  margin: 0;
  padding: 0;
}
.days {
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 3em;
}