@import url("/css/antiscreen.css") handheld; 
@import url("/css/antiscreen.css") only screen and (max-device-width:480px);

a { 
  color: #bb8844;
}

body {
  margin: 0 auto;
  padding: 2em;
  width: 720px;
  font-family: "Helvetica";
}

h1 {
  color: #445588;
  font-family: Georgia;
  font-weight: 100;
}

li { list-style-type: none; }

code  { 
  font-family: "menlo", "monaco", "courier new";
  font-size: 14px;
}

.posts {
  
  
}