{% extends "base.html" %}

{% block content %}

<div id="header">
  <h1><span id="random-emoji">🍑</span> <span id="title">agdr.org</span></h1>
</div>


<div>
  <h3>Austin Davis-Richardson</h3>
  <ul class="no-dots">
    <li>
      Metagenomics scientist and software engineer
    </li>
  </ul>
</div>


<div id="contact">
  <h3>Contact</h3>
  <ul class="no-dots">
    <li>Email - <a id="email-link" href=""></a></li>
    <li>Mastodon - <a rel="me" href="https://mastodon.social/@audy">@audy</a></li>
  </ul>
</div>

<div id="links">
  <h3>Links</h3>
  <ul class="no-dots">
    <li><a href="https://scholar.google.com/citations?hl=en&user=xw0mHYEAAAAJ&view_op=list_works&sortby=pubdate">Publications</a></li>
    <li><a href="https://github.com/audy/">GitHub</a></li>
  </ul>
</div>

<div id="table-of-contents">
  {% for p in section.subsections %}
    {% set subsection = get_section(path=p) %}
    <h3>{{ subsection.title }}</h3>
    <ul class="no-dots blog-description">
      {% for page in subsection.pages %}
      <li>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <span class="dimmed">{{ page.date }}</span>
        <p>{{ page.description | markdown(inline=true) | safe}}</p>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<script type="text/javascript">
  // JavaScript function to create the email address dynamically
  function generateEmail() {
    var user = "hello";
    var domain = "agdr.org";
    var emailAddress = user + "@" + domain;
    var emailElement = document.getElementById("email-link");
    emailElement.innerHTML = emailAddress;
    emailElement.href = "mailto:" + emailAddress;
  }
  generateEmail();

  // Function to get a random emoji from the array
  function getRandomEmoji() {
    const emojis = [
      "🌿", "🌲", "🌳", "🍁", "🍂", "🍃", "🌱", "🌷", "🌹", "🌺",
      "🌻", "🌼", "🌸", "🌾", "🌵", "🌴", "🌲", "🍄", "🌰", "🍀",
      "🍁", "🍂", "🍃", "🍇", "🍈", "🍉", "🍊", "🍋",
      "🍎", "🍏", "🍐", "🍒", "🍓", "🍅", "🍇", "🍈",
      "🍉", "🍊", "🍋"
     ];
    return emojis[Math.floor(Math.random() * emojis.length)];
  }

  // On page load, insert a random emoji into the span with id "random-emoji"
  const emoji = getRandomEmoji();
  const randomEmojiSpan = document.getElementById('random-emoji');
  randomEmojiSpan.textContent = emoji;
</script>

{% endblock content %}
