<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="description" content="A blog">
  <meta name="author" content="Austin G. Davis-Richardson">

  <link rel="stylesheet" href="/css/master.css">

  <link rel="stylesheet" href="/css/handheld.css" media="handheld,
    only screen and (max-device-width:480px)">

  <link rel="stylesheet" href="/css/syntax.css" media="screen">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

</head>
<body lang="en">

  <div class="gradient">&nbsp;</div>

  {{ content }}

  {% include analytics.html %}
</body>
</html>
