<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>agdr.org / {{ page.title }}</title>
  <meta name="description" content="Austin G. Davis-Richardson"/>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300|Open+Sans:300,600|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href="hover-master/css/hover-min.css" rel="stylesheet" media="all">

  <link rel="alternate" type="application/atom+xml" title="AGDR - Blog" href="/atom.xml" />

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/clean.css">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
</head>
<body lang="en">
  <div class="wrapper">
    {{ content }}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="/js/jquery.fittext.js"></script>
  <script type="text/javascript">
    $("#title").fitText(0.83,  { minFontSize: '46px', maxFontSize: '72px'});
    $("#menu").fitText(0.83,  { minFontSize: '20px', maxFontSize: '24px'});
  </script>

</body>
